In [ ]:
import pandas as pd
import spacy

from nlp_modules.ner.spacy_find_ners import find_ner_firms
from nlp_modules.ner.ner_firms_matching import get_most_possible_firm

In [2]:
nlp_rus = spacy.load('ru_core_news_lg')

In [ ]:
df_ner_firms = pd.read_excel("data/firms_NER_dataset_flatten.xlsx")
text = '''За пять дней капитализация компании удвоилась. Эксперты говорят, что веских оснований для этого нет, учитывая, что сообщение о выкупе Т-банком факторингового бизнеса АО «Киви» не должно иметь влияния на QIWI'''

In [4]:
find_ner_firms(text, nlp_rus)

['Т-банком', 'АО «Киви»']

In [5]:
secs = []
for ner in find_ner_firms(text, nlp_rus):
    secs.append(get_most_possible_firm(ner, df_ner_firms, cols_to_match = ['securityid', 'firm_name']))
[obj['securityid'] for obj in secs]

['TCSG', 'QIWI']

In [6]:
pd.DataFrame(secs)

  securityid  matching_score
0       TCSG        0.857143
1       QIWI        0.727273